{% extends 'base.html.twig' %}

{% block title %}About !{% endblock %}

{% block body %}

        <header class="masthead" style="background-image: url('assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Alex Martin</h1>
                            <span class="subheading">Consultant en analyse de données.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

       <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Alex Martin est un consultant en analyse de données expérimenté, spécialisé dans la compréhension des données pour aider les entreprises à prendre des décisions éclairées. Avec plus de 10 ans d'expérience dans le domaine de l'analyse de données, Alex a travaillé avec des entreprises de toutes tailles et de tous secteurs pour extraire des informations utiles à partir de grandes quantités de données.</p>
                        <p>Passionné par les technologies d'analyse de données, Alex est un fervent défenseur de l'utilisation de la technologie pour résoudre les problèmes commerciaux complexes. Il possède une vaste expérience dans la création de modèles d'analyse prédictive, de modèles de segmentation de clientèle, de modèles de prévision des ventes et d'analyses de données en temps réel.</p>
                        <P>En plus de ses activités professionnelles, Alex aime partager ses connaissances en matière d'analyse de données avec la communauté en ligne. Il est un blogueur passionné, un conférencier recherché et un contributeur actif aux forums de discussion en ligne. Sa passion pour l'analyse de données et son engagement envers la résolution des problèmes commerciaux ont aidé de nombreuses entreprises à atteindre leurs objectifs stratégiques en matière de données.</P>
                    </div>
                </div>
            </div>
        </main>

{% endblock %}
