{% extends 'base.html.twig' %}

{% block title %}Liste des articles !{% endblock %}

{% block body %}
    <h1>Liste articles {% if brouillon %} brouillons {% endif %}</h1>

    <P>Le Tableau contient {{ articles|length}} article(s)</p>

    <ul>
    {% for article in articles %}
    <li><a href = "{{ path ('vue_article', { id : article.id }) }}">{{ article.titre }}</a></li>
    {% endfor %}
    </ul>
{% endblock %}
